<!DOCTYPE html>
<html>
  <head>
    <title>WebHunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
<meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script>
        window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
