<!DOCTYPE html>
<html>
  <head>
    <title>WebHunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%# <% if logged_in? %>
     <%# <script type="text/javascript">
      <%#    window.currentUser =
        <%#    <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
     <%# </script>
    <% end %> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
